.color-list
  %section.color{:style => "background: hsl(4,99%,66%);"}
    %h2.name Persimmon
    %ul.details
      %li hsl(4,99%,66%)
      %li #FE5E52
      %li 178 C
      %li 485 U
      %li Primary
  %section.color{:style => "background: hsl(233,21%,56%);"}
    %h2.name Kimberly
    %ul.details
      %li hsl(233,21%,56%)
      %li #777DA6
      %li 7675 C
      %li 7669 U
      %li Primary
  %section.color{:style => "background: hsl(357,26%,42%);"}
    %h2.name Au Chico
    %ul.details
      %li hsl(357,26%,42%)
      %li #874F52
      %li 4985 C
      %li 188 U
      %li Secondary
  %section.color{:style => "background: hsl(144,33%,68%);"}
    %h2.name Shade Green
    %ul.details
      %li hsl(144,33%,68%)
      %li #92C8A8
      %li 345 C
      %li 344 U
      %li Secondary
  %section.color{:style => "background: hsl(97,62%,80%);"}
    %h2.name Tea Green
    %ul.details
      %li hsl(97,62%,80%)
      %li #C5ECAC
      %li 7486 C
      %li 7486 U
      %li Secondary