.container.container-full.myframe
  = render "menu"
  %section.color-6
    / %nav.cl-effect-3
    %nav.cl-effect-7
      / .new Hi,
      / .new I'm
      / .new Tarun
      / .new Jadhwani,
      / .new A
      / .new web
      / .new developer
      / .new loves
      / .new code
      %a{:href => "#"} This
      %a{:href => "#"} is
      %a{:href => "#"} the
      %a{:href => "#"} home
      %a{:href => "#"} page
  %section.color-5
    %nav.cl-effect-19
      %a{:href => "#"}
        %span{"data-hover" => "Ratatouille"} this
      %a{:href => "#"}
        %span{"data-hover" => "Lassitude"} is
      %a{:href => "#"}
        %span{"data-hover" => "Murmurous"} the
      %a{:href => "#"}
        %span{"data-hover" => "Palimpsest"} about
      %a{:href => "#"}
        %span{"data-hover" => "Assemblage"} page
  %section.color-8
    %nav.cl-effect-7
      %a{:href => "#"} this
      %a{:href => "#"} is
      %a{:href => "#"} the
      %a{:href => "#"} portfolio
      %a{:href => "#"} page
  %section.color-3
    %nav.cl-effect-15
      %a{"data-hover" => "this", :href => "#"} this
      %a{"data-hover" => "is", :href => "#"} is
      %a{"data-hover" => "the", :href => "#"} the
      %a{"data-hover" => "contact", :href => "#"} contact
      %a{"data-hover" => "page", :href => "#"} page
/   %section.color-1
/     %nav.cl-effect-1
/       %a{:href => "#"} Wafture
/       %a{:href => "#"} Sumptuous
/       %a{:href => "#"} Scintilla
/       %a{:href => "#"} Propinquity
/       %a{:href => "#"} Harbinger
/   %section.color-4
/     %nav.cl-effect-2
/       %a{:href => "#"}
/         %span{"data-hover" => "Ratatouille"} Ratatouille
/       %a{:href => "#"}
/         %span{"data-hover" => "Lassitude"} Lassitude
/       %a{:href => "#"}
/         %span{"data-hover" => "Murmurous"} Murmurous
/       %a{:href => "#"}
/         %span{"data-hover" => "Palimpsest"} Palimpsest
/       %a{:href => "#"}
/         %span{"data-hover" => "Assemblage"} Assemblage
/   %section.color-7
/     %nav.cl-effect-4
/       %a{:href => "#"} Woebegone
/       %a{:href => "#"} Lassitude
/       %a{:href => "#"} Murmurous
/       %a{:href => "#"} Palimpsest
/       %a{:href => "#"} Assemblage
/   %section.color-5
/     %nav.cl-effect-5
/       %a{:href => "#"}
/         %span{"data-hover" => "Seraglio"} Seraglio
/       %a{:href => "#"}
/         %span{"data-hover" => "Sumptuous"} Sumptuous
/       %a{:href => "#"}
/         %span{"data-hover" => "Scintilla"} Scintilla
/       %a{:href => "#"}
/         %span{"data-hover" => "Palimpsest"} Palimpsest
/       %a{:href => "#"}
/         %span{"data-hover" => "Assemblage"} Assemblage
/   %section.color-4
/     %nav.cl-effect-6
/       %a{:href => "#"} Umbrella
/       %a{:href => "#"} Ineffable
/       %a{:href => "#"} Lilt
/       %a{:href => "#"} Mellifluous
/       %a{:href => "#"} Serendipity
/   %section.color-1
/     %nav.cl-effect-8
/       %a{:href => "#"} Imbue
/       %a{:href => "#"} Sumptuous
/       %a{:href => "#"} Scintilla
/       %a{:href => "#"} Propinquity
/       %a{:href => "#"} Harbinger
/   %section.color-9
/     %nav.cl-effect-9
/       %a{:href => "#"}
/         %span Gossamer
/         %span Sumptuous Heart
/       %a{:href => "#"}
/         %span Ineffable
/         %span Evanescent Life
/       %a{:href => "#"}
/         %span Chatoyant
/         %span Assemblage Love
/       %a{:href => "#"}
/         %span Mellifluous
/         %span Mellifluous Will
/       %a{:href => "#"}
/         %span Serendipity
/         %span Serendipity Cut
/   %section.color-10
/     %nav.cl-effect-10
/       %a{"data-hover" => "Seraglio", :href => "#"}
/         %span Seraglio
/       %a{"data-hover" => "Sumptuous", :href => "#"}
/         %span Sumptuous
/       %a{"data-hover" => "Scintilla", :href => "#"}
/         %span Scintilla
/       %a{"data-hover" => "Palimpsest", :href => "#"}
/         %span Palimpsest
/       %a{"data-hover" => "Assemblage", :href => "#"}
/         %span Assemblage
/   %section.color-4
/     %nav.cl-effect-11
/       %a{"data-hover" => "Desultory", :href => "#"} Desultory
/       %a{"data-hover" => "Sumptuous", :href => "#"} Sumptuous
/       %a{"data-hover" => "Scintilla", :href => "#"} Scintilla
/       %a{"data-hover" => "Propinquity", :href => "#"} Propinquity
/       %a{"data-hover" => "Harbinger", :href => "#"} Harbinger
/   %section.color-5
/     %nav.cl-effect-12
/       %a{:href => "#"} Chatoyant
/       %a{:href => "#"} Ineffable
/       %a{:href => "#"} Efficiency
/       %a{:href => "#"} Mellifluous
/       %a{:href => "#"} Serendipity
/   %section.color-6
/     %nav.cl-effect-13
/       %a{:href => "#"} Beleaguer
/       %a{:href => "#"} Lassitude
/       %a{:href => "#"} Murmurous
/       %a{:href => "#"} Palimpsest
/       %a{:href => "#"} Assemblage
/   %section.color-1
/     %nav.cl-effect-14
/       %a{:href => "#"} Ailurophile
/       %a{:href => "#"} Sumptuous
/       %a{:href => "#"} Scintilla
/       %a{:href => "#"} Propinquity
/       %a{:href => "#"} Harbinger
/   %section.color-11
/     %nav.cl-effect-16
/       %a{"data-hover" => "Languor", :href => "#"} Languor
/       %a{"data-hover" => "Murmurous", :href => "#"} Murmurous
/       %a{"data-hover" => "Lassitude", :href => "#"} Lassitude
/       %a{"data-hover" => "Chatoyant", :href => "#"} Chatoyant
/       %a{"data-hover" => "Palimpsest", :href => "#"} Palimpsest
/   %section.color-4
/     %nav.cl-effect-17
/       %a{"data-hover" => "Languor", :href => "#"} Languor
/       %a{"data-hover" => "Murmurous", :href => "#"} Murmurous
/       %a{"data-hover" => "Lassitude", :href => "#"} Lassitude
/       %a{"data-hover" => "Chatoyant", :href => "#"} Chatoyant
/       %a{"data-hover" => "Palimpsest", :href => "#"} Palimpsest
/   %section.color-6
/     %nav.cl-effect-18
/       %a{"data-hover" => "Desultory", :href => "#"} Desultory
/       %a{"data-hover" => "Sumptuous", :href => "#"} Sumptuous
/       %a{"data-hover" => "Scintilla", :href => "#"} Scintilla
/       %a{"data-hover" => "Propinquity", :href => "#"} Propinquity
/       %a{"data-hover" => "Harbinger", :href => "#"} Harbinger
/   %section.color-1
/     %nav.cl-effect-20
/       %a{:href => "#"}
/         %span{"data-hover" => "Beleaguer"} Beleaguer
/       %a{:href => "#"}
/         %span{"data-hover" => "Scintilla"} Scintilla
/       %a{:href => "#"}
/         %span{"data-hover" => "Chatoyant"} Chatoyant
/       %a{:href => "#"}
/         %span{"data-hover" => "Palimpsest"} Palimpsest
/       %a{:href => "#"}
/         %span{"data-hover" => "Languor"} Languor
/   %section.color-7
/     %nav.cl-effect-21
/       %a{:href => "#"} Chatoyant
/       %a{:href => "#"} Ineffable
/       %a{:href => "#"} Efficiency
/       %a{:href => "#"} Mellifluous
/       %a{:href => "#"} Serendipity
:javascript
  $( '#dl-menu' ).dlmenu({
    animationClasses : { classin : 'animation-class-name', classout : 'animation-class-name' }
  });