/* https://github.com/gschier/html-share-buttons */
.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 5em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
    transition: transform .25s ease;
    transform: scale(.9);
    font-size: 1em;
}
.share-btn:hover {
  color: #eeeeee;
  transform: scale(1.10);
}
.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}
.share-btn.twitter { background: #55acee; }
.share-btn.github { background: #323131; }
.share-btn.dribbble { background: #F26798; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email { background: #444444; }
